<div class="listingWrapper">
  <h1>Action Figure of the Day!</h1>
  <app-listing [item]="item"></app-listing>
</div>

<div class="container">
  <div>
    <h4>Login</h4>
    <hr />
    <hr />
    <br />
    <form
      style="display: flex; flex-direction: column; width: fit-content; margin: auto"
      (submit)="onLogin()"
    >
      <input
        type="text"
        [(ngModel)]="userLogin.email"
        name="email"
        placeholder="Email"
        [ngClass]="{ hasErrors: userLoginValidation.error }"
      />
      <p class="errorText">{{ userLoginValidation.errorMsg }}</p>
      <input
        type="password"
        [(ngModel)]="userLogin.password"
        name="password"
        placeholder="Password"
        [ngClass]="{ hasErrors: userLoginValidation.error }"
      />
      <button type="submit" class="btn btn-yellow">Login</button>
    </form>
  </div>
  <div>
    <h4>Register</h4>
    <hr />
    <hr />
    <br />
    <form
      style="display: flex; flex-direction: column; width: fit-content; margin: auto"
      id="myForm"
    >
      <input
        type="text"
        [(ngModel)]="userRegister.firstName"
        name="firstName"
        placeholder="First Name"
        id="firstName"
        (keypress)="checkRegisterForm()"
        [ngClass]="{ hasErrors: userRegValidation.firstNameError }"
      />
      <p class="errorText">{{ userRegValidation.firstNameErrorMsg }}</p>
      <input
        type="text"
        [(ngModel)]="userRegister.lastName"
        name="lastName"
        placeholder="Last Name"
        (keypress)="checkRegisterForm()"
        [ngClass]="{ hasErrors: userRegValidation.lastNameError }"
      />
      <p class="errorText">{{ userRegValidation.lastNameErrorMsg }}</p>
      <input
        type="text"
        [(ngModel)]="userRegister.email"
        name="email"
        placeholder="Email"
        (keypress)="checkRegisterForm()"
        [ngClass]="{ hasErrors: userRegValidation.emailError }"
      />
      <p class="errorText">{{ userRegValidation.emailErrorMsg }}</p>
      <input
        type="password"
        [(ngModel)]="userRegister.password"
        name="password"
        placeholder="Password"
        (keypress)="checkRegisterForm()"
        [ngClass]="{ hasErrors: userRegValidation.passwordError }"
      />
      <p class="errorText">{{ userRegValidation.passwordErrorMsg }}</p>
      <input
        type="password"
        [(ngModel)]="userRegister.password2"
        name="password2"
        placeholder="Confirm Password"
        (keypress)="checkRegisterForm()"
        [ngClass]="{ hasErrors: userRegValidation.passwordError }"
      />
      <button
        type="button"
        (click)="onRegister()"
        disabled="true"
        class="btn btn-disabled"
        *ngIf="regForm; else elseBlock"
      >
        Register
      </button>
      <ng-template #elseBlock>
        <button type="button" class="btn btn-orange" (click)="onRegister()">
          Register
        </button>
      </ng-template>
    </form>
  </div>
</div>
