<div class="container">
  <img [src]="item['image']" alt="" />
  <div class="image">
    <label for="image">Image URL: </label>
    <input type="text" name="image" [(ngModel)]="newItem['image']" />
  </div>
  <div class="title">
    <label for="title">Title: </label>
    <br />
    <input type="text" name="title" [(ngModel)]="newItem['title']" />
    <br />
    <label for="description">Description: </label>
    <br />
    <textarea
      type="text"
      name="description"
      [(ngModel)]="newItem['description']"
    ></textarea>
    <br />
  </div>
  <div class="price">
    <label for="price">Price: </label>
    <br />
    <input type="number" name="price" [(ngModel)]="newItem['price']" />
    <br />
    <label for="location">Location: </label>
    <br />
    <input type="text" name="location" [(ngModel)]="newItem['location']" />
    <br />
    <button class="btn btn-yellow" (click)="onUpdate()">Update</button>
    <button class="btn btn-orange" (click)="onDelete()">Delete</button>
    <!-- <button class="btn btn-orange" (click)="onDeleteUsers()">
      Delete Users
    </button>
    <button class="btn btn-orange" (click)="onDeleteItems()">
      Delete Items
    </button> -->
  </div>
</div>
