<div class="container">
  <div>
    <form>
      <label for="search"></label>
      <input
        type="text"
        name="searchData"
        [(ngModel)]="searchData"
        placeholder="Search for an action figure"
        (keyup)="onSearch()"
      />
    </form>
  </div>
  <div class="listingsWrap">
    <div class="listings" *ngIf="itemCheck === true">
      <app-listing
        *ngFor="let item of items"
        [item]="item"
        [front]="front"
        [userId]="userId"
        (emitter)="fetchItems()"
      ></app-listing>
    </div>
    <div class="noItem" *ngIf="itemCheck === false">
      <h2>No items were found. Try again</h2>
    </div>
  </div>
</div>
